<!--
    SPDX-FileCopyrightText: 2025 HongKongukah.com
    SPDX-License-Identifier: MIT
-->

{% extends "layout/_layout.html" %}

{% block title %}Bingo Cards{% endblock %}

{% block content %}
    <div class="m-2 text-center">
        <h1 class="display-5 hk-red add-shadow">Bingo Cards</h1>
        <div class="col-md-6 mx-auto">
            <p class="mt-4">Bingo cards can be obtained via the link below:</p>
            <p>
                <a href="https://mfbc.us/v/q23fyx6" aria-label="Link to bingo cards">
                    Bingo cards now available!
                </a>
            </p>
        </div>
        <div class="col-md-6 mx-auto">
            <p class="mt-4 fw-bold">There is a suggested $5 to the charity for each card.</p>
            <p>
                See
                <a href="/charity" aria-label="Link to the charity page">
                    here
                </a>
                for more information about this year's charity and how to donate!
            </p>
        </div>
    </div>
{% endblock %}
