<!--
    SPDX-FileCopyrightText: 2025 HongKongukah.com
    SPDX-License-Identifier: MIT
-->

{% extends "layout/_layout.html" %}

{% block title %}Charity{% endblock %}

{% block content %}
    <div class="m-2 text-center">
        <h1 class="display-5 hk-red add-shadow">Charity</h1>
        <h3 class="display-6">ACLU of Massachusetts</h3>
        <div class="col-md-6 mx-auto">
            <p class="my-4">
                HongKongukah #9 is raising money for the
                <a href="https://aclum.org" aria-label="Link to the ACLU of Massachusetts website">
                    ACLU of Massachusetts
                </a>
                .
            </p>
            <p class="my-4 fst-italic">
                The need to protect the civil liberties of citizens and individuals in our country has never been greater.
                The ACLU of Massachusetts works to defend the civil rights guaranteed by both state and national law, with
                a strong focus on free speech, immigrants' rights, racial justice, and reproductive freedom. This Pride,
                we also acknowledge and aim to support
                <a href="https://www.aclum.org/en/issues/lgbtq-rights" aria-label="Link to the ACLU's record of work on LGBTQ+ rights on their website">
                    the incredible work
                </a>
                the ACLU of Massachusetts has and continues to do in upholding LGBTQ+ rights.
            <p class="my-4 fw-bold">
                <a href="https://action.aclu.org/give/support-aclu-massachusetts">
                    You can give to the ACLU of Massachusetts directly on their website!
                </a>
            </p>
        </div>
    </div>
{% endblock %}
