<!--
    SPDX-FileCopyrightText: 2025 HongKongukah.com
    SPDX-License-Identifier: MIT
-->

<footer class="sticky-footer text-center" style="background-color: black;">
    <div class="d-flex justify-content-center">
        <p>
            Designed by Boston hasher, not affiliated with <a href="https://hongkongboston.com/" aria-label="Link to the website of the Boston Hong Kong karaoke bar">Hong Kong Boston</a> (but we love them <i class="bi bi-heart-fill hk-red"></i>)
        </p>
    </div>
</footer>
